button, p, a, h1 {
	margin: 1em;
}
.left {
position: fixed;
background-color: #0089ff;
width: 50%;
height: 100%;
top: 0;
left: 0; 
}
.right {
position: fixed;
background-color: lightblue;
width: 50%;
height: 100%;
top: 0;
right: 0;
}
button {
	background-color: white;
	color: #0089ff;
	font-weight: bold;
	text-transform: uppercase;
}
a {

}
h1 {
	color: white;
	text-transform: uppercase;
}
.rocket {
	position: absolute;
	left: 50%;
	bottom:2em;
	width: 0; 
	height: 0; 
	margin-left: -3em;
	border-color:  #0089ff transparent;
	border-style: solid;
	border-width: 0em 3em 20em 3em;
	transition: bottom 10000ms;
	}
body.bodystate1 .rocket {
	transition: none;
	}
body.bodystate3 .rocket,
body.bodystate4 .rocket {
	bottom: 100em;
	}

.state1, .state2, .state3, .state4, .state5 {display:none;}
body.bodystate1 .state1 { display: block; }
body.bodystate2 .state2 { display: block; }
body.bodystate3 .state3 { display: block; }
body.bodystate4 .state4 { display: block; }
body.bodystate5 .state5 { display: block; }

.ground {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: lightgreen;
	height: 2em;

}