body {
	background-color: lightblue;
	color: lightblue;
}
a {
	text-decoration: none;
	border: thin dashed white;
	color: white;
	padding:0.5em;
}
a:hover {
	border: thin dashed blue;
	color: blue;
}
h1 {
	color: white;
	padding-bottom:1em;
}
section {
	width: 6em;
	height: 6em;
	border-radius: 5em;
	background-color: white;
	transition: background-color 5s;
	margin-top:2em;
	padding:1em;
	text-align: center;
}
.blue {
	background-color: blue;
}